/* Navbar.css */
@media (min-width: 992px) {
    .dropdown-menu-custom {
      width: 500px !important;
      right: 0;
      left: auto;
    }
  }
  
  @media (max-width: 991.98px) {
    .dropdown-menu-custom {
      width: 100% !important;
    }
  }
  
  .close-btn {
    text-align: right;
  }
  